<div class="row">
  <div class="col-md-6">
    <h3>About Dr. Yang</h3>
    <p>
      <img id="kmj" class="box-rotate-10 small-shadow hidden-xs" height="162"
      width="129" src="/static/img/yang.png"> Dr. Yang received his B.S. in biochemistry from <a href="http://www.fudan.edu.cn">Fudan University</a> in 1997. In 2003, he received his Ph.D. in Neuroscience from <a href="http://www.bcm.edu">Baylor College of Medicine</a>, Houston, TX. He then did his postdoctoral work at the <a href="http://www.washington.edu">University of Washington</a>, Seattle, WA. In 2008, he became a staff scientist in the Laboratory of Neuropsychology at the <a href="http://www.nimh.nih.gov">National Institute of Mental Health</a> of USA. Dr. Yang joined the <a href="http://www.ion.ac.cn">Institute of Neuroscience</a> full time in 2013 as Investigator and Head of the Laboratory of Neural Mechanism of Decision Making. His main interests are the neural mechanisms underlying decision-making.</a>.
    </p>


    <p>
      He can be reached via either of the following methods:
    </p>
    <ul>
      <li class="last">
        e&ndash;mail at <a href="mailto:tyang@ion.ac.cn">tyang@ion.ac.cn</a>.
      </li>
    </ul>

  </div>
  <div class="col-md-6">
    <h3>
      Open positions
    </h3>
    <p>
      We have a variety of openings.  Interested candidates should contact
      Dr. Yang by e&ndash;mail.
    </p>

    <p>
    <b>Postdoctoral fellows:</b>
      We are seeking a Postdoctoral Research
      Associate in computational biology to join our group.  The
      successful candidate will be part of a research collaboration
      to integrate experimental and computational approaches to study
      neural mechanisms underlying the decision&ndash;making machanism.
    <p>
    <p><b>Research Assistant:</b>
      We are seeking a motivated and independent
      research assistant
      to support the research of neural mechanism of decison&ndash;making by the approach of fMRI and psychophysics.
    </p>

  </div>
</div>

